﻿<style>
    .zoom-85 {
        zoom: 85%;
    }
</style>
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption caption-md">
            <span class="caption-subject bold theme-font-color uppercase">MetadataField Manager</span>
            <span class="caption-helper">Quản lý các trường metadata</span>
        </div>
        <div class="inputs">
            <div class="portlet-input input-small input-inline">
                <div class="input-icon right">
                    <i class="icon-magnifier" title="Tìm kiếm" ng-click="Button.Search.Click()"></i>
                    <input type="text" ng-model="TextSearch" ng-keyup="$event.keyCode == 13 && Button.Search.Click()" class="form-control form-control-solid input-sm" placeholder="Tìm kiếm...." ng-pattern="word" required ng-trim="true">
                </div>
            </div>
        </div> 
        <div class="inputs margin-right-10"> 
            <button type="button" class="btn btn-sm default" title="Tải lại" ng-click="Button.Reload.Click()">
                <i class="fa fa-refresh"></i>
                <span>Tải Lại</span>
            </button>
            <button type="button" class="btn btn-sm btn-primary" title="Thêm mới" ng-click="Button.Create.Click()">
                <i class="fa fa-plus"></i>
                <span>Thêm mới</span>
            </button>
            <button type="button" class="btn btn-sm btn-primary" title="Cập nhật" ng-click="Button.Update.Click()" ng-if="ListSelected.length===1">
                <i class="fa fa-edit"></i>
                <span>Cập nhật</span>
            </button>
            <button type="button" class="btn btn-sm btn-danger" title="Xóa" ng-click="Button.Delete.Click()" ng-if="ListSelected.length===1">
                <i class="fa fa-trash"></i>
                <span>Xóa</span>
            </button>
            <button type="button" class="btn btn-sm btn-danger" title="Xóa đã chọn" ng-click="Button.DeleteMany.Click()" ng-if="ListSelected.length>1">
                <i class="fa fa-trash"></i>
                <span>Xóa đã chọn</span>
            </button>
        </div>
    </div>
    <div class="portlet-body">

        <div class="row"> 
            <div class="col-md-12 col-lg-12">
                <table class="table table-striped table-hover dataTable table-bordered">
                    <thead>
                        <tr style="background-color: #eeeeee;">
                            <th class="table-checkbox sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 24px;">
                                <div class="checker">
                                    <span ng-class="SelectAll?'checked':''">
                                        <input type="checkbox" class="group-checkable" ng-click="SelectAllItem()" ng-model="SelectAll">
                                    </span>
                                </div>
                            </th>
                            <th ng-repeat="header in Headers" width="{{header.Width}}" align="{{header.Align}}" ng-class="GetItemHeaderClass(header)"  ng-click="ClickToHeader(header)">
                                {{header.Value}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in ListData" ng-class="data.Selecting?'selected':''">
                            <th rowspan="1" colspan="1" aria-label="" style="width: 24px;">
                                <div class="checker">
                                    <span ng-class="data.Selecting?'checked':''">
                                        <input type="checkbox" ng-click="SelectItem(data)" ng-model="data.Selecting" class="checkboxes">
                                    </span>
                                </div>
                            </th>
                            <td>
                                <div class="margin-bottom-5">
                                   <a href="javascript:void(0)" class="item-title">{{data.Name}} </a>   
                                </div>
                                <div class="margin-bottom-5">
                                    <span class="text-muted"><strong>Loại hiển thị :</strong> {{data.FormlyContentObj[0].data.name}}</span> &nbsp;&nbsp;                                                    &nbsp;|&nbsp;
                                    <span class="text-muted"><strong>Kiểu dữ liệu :</strong> {{data.FormlyContentObj[0].data.dbType}}</span>
                                </div> 
                            </td>
                            <td>
                                <div class="well-sm zoom-85">
                                    <formly-form fields="data.FormlyContentObj" model="data.Data">
                                    </formly-form>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary" ng-click="Button.Update.Click(data)"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-sm btn-danger" ng-click="Button.Delete.Click(data)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>

            <!-- PAGINATION -->
            <div class="col-md-12" ng-show="ListData.length>0">
                <div class="pull-left">
                    <pre>{{FromRecord}} - {{ToRecord}} / {{TotalCount}}</pre>
                </div>
                <div class="pull-right">
                    <ul uib-pagination total-items="TotalCount"
                        ng-model="PageNumber"
                        max-size="MaxSizePage"
                        items-per-page="PageSize"
                        class="pagination-sm"
                        boundary-link-numbers="true"
                        rotate="true"
                        ng-change="Button.GoToPageNumber.Click()"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
</div>
<!-- ALERT DIV -->
<div class="alerts" ng-show="Notifications.queue.length > 0">
    <div class="alert alert-{{(m.type)||'info'}} alert-dismissable fade in pull-right" ng-repeat="m in Notifications.queue">
        <button type="button" class="close" ng-click="closeAlert(m.body)" data-dismiss="alert">×</button>
        <label>{{m.title}}</label>
        <div>{{m.body}}</div>
    </div>
</div>


