﻿<style type="text/css">
    .CodeMirror pre {
        padding: 0px 42px;
    }
</style>
<div class="modal-content cmodal">
    <div class="modal-header">
        <a href="javascript:;" ng-click="Cancel()" class="modal-close" aria-hidden="true"><i class="fa fa-close"></i></a>
        <span class="modal-title">
            <span>{{FormName}}</span>
        </span>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form ng-submit="Save()" name="MyForm">
                    <fieldset class="font-14">
                        <legend class="font-14 bold">THÔNG TIN CHUNG</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Tên trường <span class="required">(*)</span></label>
                                    <div class="col-md-12 ">
                                        <input type="text" autofocus ng-model="Data.Name" name="Name" required ng-maxlength="512" ng-change="ChangeFileName()" class="form-control input-sm" />
                                        <div class="error" ng-show="MyForm.Name.$dirty ||MyForm.$submitted">
                                            <small class="has-error" ng-show="MyForm.Name.$error.required">
                                                Bạn cần nhập tên trường
                                            </small>
                                            <small class="has-error" ng-show="MyForm.Name.$error.maxlength">
                                                Tên trường không quá 512 ký tự
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Mã trường <span class="required">(*)</span> </label>
                                    <div class="col-md-12 ">
                                        <input type="text" ng-model="Data.Code" name="Code" required ng-maxlength="512" pattern="[\x00-\x7F]*" class="form-control input-sm" />
                                        <div class="error" ng-show="MyForm.Code.$dirty ||MyForm.$submitted">
                                            <small class="has-error" ng-show="MyForm.Code.$error.pattern">
                                                Mã trường nhập không dấu
                                            </small>
                                            <small class="has-error" ng-show="MyForm.Code.$error.required">
                                                Bạn cần nhập mã trường
                                            </small>
                                            <small class="has-error" ng-show="MyForm.Code.$error.maxlength">
                                                Mã trường không quá 512 ký tự
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="clearfix">    </div>-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Loại hiển thị <span class="required">(*)</span> </label>
                                    <div class="col-md-12 ">
                                        <ui-select ng-model="Item.data.key" style="width: 100%" theme="selectize" ng-change="ChangeControl()">
                                            <ui-select-match required placeholder="Chọn loại hiển thị">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices group-by="'Group'"
                                                               repeat="option.Name as option in ListAvailAbleControl | filter: $select.search">
                                                <small ng-bind-html="option.Name | highlight: $select.search"></small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row" ng-show="Item.data.isCatalog">
                                    <label class="control-label col-md-12">Danh mục liên kết</label>
                                    <div class="col-md-12">
                                        <ui-select ng-model="Item.data.CatalogMasterCode" style="width: 100%" theme="selectize" ng-change="ChangeCatalog()">
                                            <ui-select-match placeholder="Chọn danh mục">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="option.Code as option in ListAvailAbleCatalog | filter: $select.search">
                                                <small ng-bind-html="option.Name | highlight: $select.search"></small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="clearfix">    </div>-->
                        <!--<div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Kiểu dữ liệu <span class="required">(*)</span> </label>
                                    <div class="col-md-12 ">
                                        <ui-select ng-model="Item.data.dbType" required style="width: 100%" theme="selectize" ng-change="ChangeDbType($select.selected)">
                                            <ui-select-match placeholder="Chọn kiểu dữ liệu">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="option.Value as option in Item.data.availableDbType | filter: $select.search">
                                                <small ng-bind-html="option.Name | highlight: $select.search"></small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col-md-6" ng-if="false">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Trường tin dùng chung</label>
                                    <div class="col-md-12">
                                        <div class="checker">
                                            <span ng-class="Data.IsRecordCommonField?'checked':''">
                                                <input type="checkbox" ng-model="Data.IsRecordCommonField" class="checkboxes" />
                                            </span>
                                        </div>
                                        <small> Dùng chung cho hồ sơ </small>(<small class="badge badge-info"> <small>HS</small> </small>)&nbsp;
                                        <div class="checker">
                                            <span ng-class="Data.IsDocumentCommonField?'checked':''">
                                                <input type="checkbox" ng-model="Data.IsDocumentCommonField" class="checkboxes" />
                                            </span>
                                        </div>
                                        <small> Dùng chung cho văn bản </small>(<small class="badge badge-danger"> <small>VB</small> </small>)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Độ rộng xuất exel<span class="required">(*)</span></label>
                                    <div class="col-md-12 ">
                                        <div class="input-group">
                                            <input type="number" ng-model="Data.FieldWidth" name="FieldWidth" required max="100" min="1" class="form-control input-sm" />
                                            <span class="input-group-addon" id="basic-addon1">%</span>
                                        </div>
                                        <div class="error" ng-show="MyForm.FieldWidth.$dirty ||MyForm.$submitted">
                                            <small class="has-error" ng-show="MyForm.FieldWidth.$error.required">
                                                Bạn cần nhập độ rộng xuất exel
                                            </small>
                                            <small class="has-error" ng-show="MyForm.FieldWidth.$error.min">
                                                Giá trị không nhỏ hơn 1
                                            </small>
                                            <small class="has-error" ng-show="MyForm.FieldWidth.$error.max">
                                                Giá trị không lớn hơn 100
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12" ng-if="false">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Màn hình hiển thị  </label>
                                    <div class="col-md-12">
                                        <div class="checker">
                                            <span ng-class="Data.DisplayCatalog?'checked':''">
                                                <input type="checkbox" class="checkboxes" ng-model="Data.DisplayCatalog">
                                            </span>
                                        </div>
                                        <label class="control-label">Danh sách</label>&nbsp;&nbsp;
                                        <!--<div class="checker">
                                            <span ng-class="Data.DisplayReport?'checked':''">
                                                <input type="checkbox" class="checkboxes" ng-model="Data.DisplayReport">
                                            </span>
                                        </div>
                                        <label class="control-label">Danh sách thông tin khai thác</label>&nbsp;&nbsp;-->
                                        <!--<div class="checker">
                                            <span ng-class="Data.DisplayReportSearch?'checked':''">
                                                <input type="checkbox" class="checkboxes" ng-model="Data.DisplayReportSearch">
                                            </span>
                                        </div>
                                        <label class="control-label">Tìm kiếm báo cáo</label>&nbsp;&nbsp;-->
                                        <div class="checker">
                                            <span ng-class="Data.DisplayReader?'checked':''">
                                                <input type="checkbox" class="checkboxes" ng-model="Data.DisplayReader">
                                            </span>
                                        </div>
                                        <label class="control-label">Kết quả tra cứu</label>&nbsp;&nbsp;
                                        <div class="checker">
                                            <span ng-class="Data.DisplayReaderSearch?'checked':''">
                                                <input type="checkbox" class="checkboxes" ng-model="Data.DisplayReaderSearch">
                                            </span>
                                        </div>
                                        <label class="control-label">Cho phép tra cứu</label>&nbsp;&nbsp;
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="clearfix">    </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Ghi chú</label>
                                    <div class="col-md-12 ">
                                        <textarea ng-model="Data.Description" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="clearfix"></div><br />
                    <fieldset class="custom-fieldser">
                        <legend class="font-14 bold">CẤU HÌNH HIỂN THỊ</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Tên hiển thị </label>
                                    <div class="col-md-12 ">
                                        <input type="text" class="form-control input-sm" ng-model="Item.templateOptions.label">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Giá trị mặc định</label>
                                    <div class="col-md-12 ">
                                        <input type="text" class="form-control input-sm" ng-model="Item.defaultValue">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Từ gợi ý </label>
                                    <div class="col-md-12 ">
                                        <input type="text" class="form-control input-sm" ng-model="Item.templateOptions.placeholder">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label class="control-label">Hiển thị chiều ngang </label>  &nbsp;
                                        <div class="checker">
                                            <span ng-class="Item.templateOptions.horizontalLabel?'checked':''">
                                                <input ng-model="Item.templateOptions.horizontalLabel" type="checkbox" class="checkboxes" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3" ng-show="Item.templateOptions.horizontalLabel">
                                        <input type="text" class="form-control input-sm" ng-model="Item.templateOptions.labelSize">
                                    </div>
                                    <div class="col-md-3" ng-show="Item.templateOptions.horizontalLabel">
                                        <input type="text" class="form-control input-sm" ng-model="Item.templateOptions.controlSize">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <span>Bắt buộc nhập</span>
                                    <div class="checker">
                                        <span ng-class="Item.templateOptions.required?'checked':''">
                                            <input ng-model="Item.templateOptions.required" type="checkbox" class="checkboxes" />
                                        </span>
                                    </div> &nbsp; &nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" ng-show="Item.data.group === 'input'"> </div>
                        <div class="row" ng-show="Item.data.group === 'input'">
                            <!--<div class="col-md-3">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Icon trái</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="{{Item.templateOptions.addonLeft.class}}"></i>
                                            </span>
                                            <input class="form-control input-sm" ng-model="Item.templateOptions.addonLeft.class" ng-change="ChangeAddonLeft()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Icon phải</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input class="form-control input-sm" ng-model="Item.templateOptions.addonRight.class" ng-change="ChangeAddonRight()">
                                            <span class="input-group-addon"><i class="{{Item.templateOptions.addonRight.class}}"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-md-3" ng-show="Item.data.key ==='InputTextControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Ký tự tối đa</label>
                                    <div class="col-md-12 ">
                                        <input type="number" class="input-sm form-control input-sm" ng-model="Item.templateOptions.maxlength">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="Item.data.key ==='InputTextControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Ký tự tối thiểu</label>
                                    <div class="col-md-12">
                                        <input type="number" class="input-sm form-control input-sm" ng-model="Item.templateOptions.minlength">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="Item.data.key==='InputNumberControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Tối đa</label>
                                    <div class="col-md-12 ">
                                        <input type="number" class="input-sm form-control input-sm" ng-model="Item.templateOptions.max">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="Item.data.key==='InputNumberControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Tối thiểu</label>
                                    <div class="col-md-12 ">
                                        <input type="number" class="input-sm form-control input-sm" ng-model="Item.templateOptions.min">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" ng-show="Item.data.key==='InputRangeControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Tối đa</label>
                                    <div class="col-md-12 ">
                                        <input type="number" class="input-sm form-control input-sm" ng-model="Item.templateOptions.max">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" ng-show="Item.data.key==='InputRangeControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Khoảng cách</label>
                                    <div class="col-md-12 ">
                                        <input type="number" class="input-sm form-control input-sm" ng-model="Item.templateOptions.step">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" ng-show="Item.data.key==='InputRangeControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Tối thiểu</label>
                                    <div class="col-md-12 ">
                                        <input type="number" class="input-sm form-control input-sm" ng-model="Item.templateOptions.min">
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-md-6" ng-show="Item.data.key==='InputDateControl'">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Định dạng hiển thị</label>
                                    <div class="col-md-12 ">
                                        <span>Ngày<code>dd/MM/yyyy</code></span>
                                        <div class="checker">
                                            <span ng-class="Item.templateOptions.datepickerOptions.minMode=='day'?'checked':''">
                                                <input ng-checked="Item.templateOptions.datepickerOptions.minMode =='day'" ng-click="ChangeDateMode(0)" type="checkbox" class="checkboxes" />
                                            </span>
                                        </div> &nbsp; &nbsp;
                                        <span>tháng<code>MM/yyyy</code></span>
                                        <div class="checker">
                                            <span ng-class="Item.templateOptions.datepickerOptions.minMode=='month'?'checked':''">
                                                <input ng-checked="Item.templateOptions.datepickerOptions.minMode =='month'" ng-click="ChangeDateMode(1)" type="checkbox" class="checkboxes" />
                                            </span>
                                        </div>
                                        &nbsp; &nbsp;
                                        <span>Năm<code>yyyy</code></span>
                                        <div class="checker">
                                            <span ng-class="Item.templateOptions.datepickerOptions.minMode=='year'?'checked':''">
                                                <input ng-checked="Item.templateOptions.datepickerOptions.minMode =='year'" ng-click="ChangeDateMode(2)" type="checkbox" class="checkboxes" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>



                        <div class="clearfix" ng-show="Item.data.key==='ToggleControl'"> </div>
                        <div class="row" ng-show="Item.data.key==='ToggleControl'">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Nhãn bật</label>
                                    <div class="col-md-12 ">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.trueLabel">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Nhãn tắt</label>
                                    <div class="col-md-12 ">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.falseLabel">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" ng-show="Item.data.group==='upload'">

                        </div>
                        <div class="row" ng-show="Item.data.group==='upload'">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Tiêu đề nút</label>
                                    <div class="col-md-12 ">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.uploadText">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Kích thước tối đa</label>
                                    <div class="col-md-12 ">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.maxsize">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" ng-show="Item.data.group==='upload'">

                        </div>
                        <div class="row" ng-show="Item.data.group==='upload'">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Định dạng cho phép</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.accept">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Upload api</label>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.apiUrl">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" ng-show="Item.data.group==='upload'">

                        </div>
                        <div class="row" ng-show="Item.data.group==='upload'">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Thuộc tính sử dụng</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.returnProp">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-12">Dữ liệu kèm</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.optionalData">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">

                        </div>
                        <!--<div class="row">
                            <div class="col-md-12 text-bold">
                                Điều kiện ẩn:&nbsp;
                                <div class="checker">
                                    <span ng-class="Item.templateOptions.isUseHideExpression?'checked':''">
                                        <input ng-model="Item.templateOptions.isUseHideExpression" type="checkbox" class="checkboxes" />
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="Item.templateOptions.isUseHideExpression">
                                <div class="form-group">
                                    <label class="control-label">
                                        Điều kiện(return true|false):
                                        <small class="text-danger">'$viewValue'= giá trị ô nhập|'$modelValue'= giá trị model|'$scope.model.key'= truy cập tới trường khác ('key') '</small>
                                    </label>
                                    <div class="col-md-12">
                                        <textarea id="txtHideExpression" class="input-sm form-control input-sm" ng-model="Item.templateOptions.hideExpression"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-bold">
                                Điều kiện vô hiệu hóa:&nbsp;
                                <div class="checker">
                                    <span ng-class="Item.templateOptions.isUseDisabledExpression?'checked':''">
                                        <input ng-model="Item.templateOptions.isUseDisabledExpression" type="checkbox" class="checkboxes" />
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="Item.templateOptions.isUseDisabledExpression">
                                <div class="form-group">
                                    <label class="control-label">
                                        Điều kiện(return true|false):
                                        <small class="text-danger">'$viewValue'= giá trị ô nhập|'$modelValue'= giá trị model|'$scope.model.key'= truy cập tới trường khác ('key') '</small>
                                    </label>
                                    <div class="col-md-12">
                                        <textarea id="txtDisabledExpression" class="input-sm form-control input-sm" ng-model="Item.templateOptions.disabledExpression"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="row" ng-show="Item.data.group ==='input'">
                            <div class="col-md-12 text-bold">
                                Xác thực theo mẫu (parttern):&nbsp;
                                <div class="checker">
                                    <span ng-class="Item.templateOptions.isValidateByParttern?'checked':''">
                                        <input ng-model="Item.templateOptions.isValidateByParttern" type="checkbox" class="checkboxes" />
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="Item.templateOptions.isValidateByParttern">
                                <div class="form-group">
                                    <label class="control-label">Mẫu(regex parttern)</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.partternValidate">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Thông báo hiển thị lỗi</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.partternValidateError">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-bold">
                                Xác thực theo API:&nbsp;
                                <div class="checker">
                                    <span ng-class="Item.templateOptions.isValidateByApi?'checked':''">
                                        <input ng-model="Item.templateOptions.isValidateByApi" type="checkbox" class="checkboxes" />
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="Item.templateOptions.isValidateByApi">
                                <div class="form-group">
                                    <label class="control-label">
                                        API URL:
                                        <small class="text-danger">'$viewValue'= giá trị ô nhập</small>
                                    </label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.apiValidate">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">
                                            Điều kiện (return true|false):
                                            <small class="text-danger">'$response'= biến api trả về |'$viewValue'= giá trị ô nhập|'$modelValue'= giá trị model|'$scope.model.key'= truy cập tới trường khác ('key') '</small>
                                        </label>
                                        <div class="col-md-12">
                                            <textarea id="txtapiValidateCondition" class="input-sm form-control input-sm" ng-model="Item.templateOptions.apiValidateCondition"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Thông báo lỗi</label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.apiValidateError">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 text-bold">
                                Xác thực tùy chỉnh:&nbsp;
                                <div class="checker">
                                    <span ng-class="Item.templateOptions.isValidateByCustom?'checked':''">
                                        <input ng-model="Item.templateOptions.isValidateByCustom" type="checkbox" class="checkboxes" />
                                    </span>
                                </div>
                            </div>
                            <div class="row" ng-show="Item.templateOptions.isValidateByCustom">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Điều kiện(return true|false):
                                            <small class="text-danger">'$viewValue'= giá trị ô nhập|'$modelValue'= giá trị model|'$scope.model.key'= truy cập tới trường khác ('key') '</small>
                                        </label>
                                        <div class="col-md-12">
                                            <textarea id="txtCustomValidate" class="input-sm form-control input-sm" ng-model="Item.templateOptions.customValidate"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Thông báo lỗi</label>
                                        <div class="col-md-12">
                                            <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.customValidateError">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="row" ng-show="(Item.data.group ==='dropdown'||Item.data.group ==='checkbox')&&(Item.data.name!=='Checkbox')">
                            <!--<div class="col-md-12 text-bold" ng-hide="Item.data.dbType=='uniqueidentifier'">
                                Sử dụng từ API:&nbsp;
                                <div class="checker">
                                    <span ng-class="Item.templateOptions.isGetOptionByApi?'checked':''">
                                        <input ng-model="Item.templateOptions.isGetOptionByApi" type="checkbox" class="checkboxes" />
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="Item.templateOptions.isGetOptionByApi">
                                <div class="form-group">
                                    <label class="control-label">
                                        API URL:
                                        <small class="text-danger">Địa chỉ api <span ng-show="Item.templateOptions.isApiDependent==true">|sử dụng khóa '$key%' là giá trị trường liên quan</span>  </small>
                                    </label>
                                    <div class="col-md-12">
                                        <input type="text" class="input-sm form-control input-sm" ng-model="Item.templateOptions.apiGetOption">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Thuộc tính sử dụng từ dữ liệu trả về:
                                        <small class="text-danger">'$response':dữ liệu trả về ...| vd : '$response.Data' ..etc</small>
                                    </label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control input-sm" ng-model="Item.templateOptions.apiResponseData">
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-md-12">
                                <!--<div class="col-md-12  padding-left-none">
                                    <div class="form-group">
                                        <label class="control-label">Thuộc tính hiển thị</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control input-sm" ng-model="Item.templateOptions.labelProp">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Thuộc tính sử dụng</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control input-sm" ng-model="Item.templateOptions.valueProp">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12  padding-right-none" ng-show="Item.data.group=='dropdown'">
                                    <div class="form-group">
                                        <label class="control-label">Thuộc tính nhóm</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control input-sm" ng-model="Item.templateOptions.groupProp">
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                            <div class="col-md-12" ng-hide="Item.templateOptions.isGetOptionByApi">
                                <div class="clearfix"></div>
                                <table class="table table-striped table-bordered table-advance table-hover grid-table">
                                    <thead>
                                        <tr>
                                            <th ng-show="Item.data.group=='dropdown'">Nhóm</th>
                                            <th>Tên</th>
                                            <th>Giá trị</th>
                                            <th>
                                                <button type="button" class="btn btn-sm btn-circle btn-icon-only btn-primary" ng-click="AddOptions()">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in Item.templateOptions.options">
                                            <td ng-show="Item.data.group=='dropdown'">
                                                <input class="form-control input-sm" ng-model="item[Item.templateOptions.groupProp]" name="">
                                            </td>
                                            <td>
                                                <input class="form-control input-sm" ng-model="item[Item.templateOptions.labelProp]" name="">
                                            </td>
                                            <td>
                                                <input class="form-control input-sm" ng-model="item[Item.templateOptions.valueProp]" name="">
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-circle btn-icon-only btn-primary" ng-click="AddOptions($index)">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-circle btn-icon-only btn-danger" ng-click="DeleteOptions(item)">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <div class="clearfix"></div><br />
                <fieldset class="custom-fieldser">
                    <legend class="font-14 bold">XEM TRƯỚC</legend>
                    <formly-form fields="PreviewSheme" model="PreviewData">
                    </formly-form>
                    <pre>{{PreviewData|json}}</pre>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button title="Lưu" type="button" ng-click="Save()" class="btn btn-sm btn-primary" data-dismiss="modal"><i class="fa fa-save"></i>&nbsp;Lưu</button>
        <button title="Đóng" type="button" ng-click="Cancel()" class="btn btn-sm btn-warning"><i class="fa fa-ban"></i>&nbsp;Đóng</button>
    </div>
</div>
