﻿<!--<script type="text/ng-template" id="template-multicheckbox">
    <div>
        <div class="checker">
            <span ng-class="multiCheckbox.checked[$index]?'checked':''">
                <input type="checkbox"
                       id="{{id + '_'+ $index}}"
                       ng-model="multiCheckbox.checked[$index]"
                       ng-change="multiCheckbox.change()">
            </span>
        </div>
        <span>{{option[to.labelProp || 'name']}}</span>
    </div>
    <div style="margin-left:20px;" ng-show="option.SubChild.length>0">
        <div ng-repeat="option in option.SubChild | filter: uiselect.SearchValue" ng-include="'template-multicheckbox'"></div>
    </div>
</script>
<div style="max-height:350px;overflow-y:scroll;">
    <div ng-repeat="option in to.options | filter: uiselect.SearchValue" ng-include="'template-multicheckbox'"></div>
</div>-->

<div class="radio-group" style="max-height:350px;overflow-y:scroll;">
    <div ng-repeat="(key, option) in to.options" class="checkbox">
        <label>
            <div class="checker">
                <span ng-class="multiCheckbox.checked[$index]?'checked':''">
                    <input type="checkbox"
                           id="{{id + '_'+ $index}}"
                           ng-model="multiCheckbox.checked[$index]"
                           ng-change="multiCheckbox.change()">
                </span>
            </div>
            <span>{{option[to.labelProp || 'name']}}</span>
        </label>
    </div>
</div>
