﻿
<div class="input-group input-datepicker">
    <div class="datepicker-option" ng-show="to.showMode">
        <span><code>Ngày</code></span>
        <div class="checker">
            <span ng-class="to.datepickerOptions.minMode=='day'?'checked':''">
                <input ng-checked="to.datepickerOptions.minMode =='day'" ng-click="datepicker.ChangeDateMode(0)" type="checkbox" class="checkboxes" />
            </span>
        </div>
        <span><code>Tháng</code></span>
        <div class="checker">
            <span ng-class="to.datepickerOptions.minMode=='month'?'checked':''">
                <input ng-checked="to.datepickerOptions.minMode =='month'" ng-click="datepicker.ChangeDateMode(1)" type="checkbox" class="checkboxes" />
            </span>
        </div>
        <span><code>Năm</code></span>
        <div class="checker">
            <span ng-class="to.datepickerOptions.minMode=='year'?'checked':''">
                <input ng-checked="to.datepickerOptions.minMode =='year'" ng-click="datepicker.ChangeDateMode(2)" type="checkbox" class="checkboxes" />
            </span>
        </div>
    </div>
    <input type="text" datepickerutc
           id="{{::id}}"
           name="{{::id}}"
           ng-model="model[options.key]"
           class="form-control"
           ng-click="datepicker.open($event)"
           uib-datepicker-popup="{{to.datepickerOptions.format}}"
           datepicker-popup="{{to.datepickerOptions.format}}"
           is-open="datepicker.opened"
           datepicker-options="to.datepickerOptions"
           close-text="Đóng" clear-text="Xóa" current-text="Hôm nay" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-sm btn-default" ng-click="datepicker.open($event)" ng-disabled="to.disabled"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</div>  
<!--{{model[options.key]}}-->