﻿<ui-select class="form-group-sm" multiple
           data-ng-model="model[options.key]" ng-change="uiselect.OnChange($select.selected)"
           ng-required="to.required"
           style="width: 100%;padding-bottom: 1px;" data-disabled="{{to.disabled}}" theme="bootstrap">
    <ui-select-match placeholder="--{{to.placeholder}}--">{{$item[to.labelProp]}}</ui-select-match>
    <ui-select-choices data-group-by="to.groupProp" data-repeat="option[to.valueProp] as option in to.options | filter: $select.search| orderBy:to.labelProp">
        <div ng-bind-html="option[to.labelProp] | highlight: $select.search "></div>
    </ui-select-choices>
</ui-select>


