﻿
<button type="button"
        class="btn btn-sm btn-primary margin-bottom-10 margin-left-20"
        id="{{::id}}" name="{{::id}}"
        ngf-pattern="'{{to.accept}}'" ngf-accept="'{{to.accept}}'" ngf-multiple="{{to.multiUpload}}"
        ngf-max-size="to.maxsize" ngf-select="upload.UploadFiles($files, $invalidFiles)">
    <div ng-show="upload.IsUpLoadDone">
        <i class="fa fa-upload"></i>
        &nbsp;{{to.uploadText}}&nbsp;
    </div>
    <div ng-hide="upload.IsUpLoadDone">
        <i class="fa fa-spin fa-spinner"></i>
        &nbsp;{{to.uploadText}}&nbsp;
        <div class="progress progress-sm progress-striped active" style="margin-bottom:1px">
            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{upload.Progress}}%">
            </div>
        </div>
    </div>
</button>
<span ng-if="to.multiUpload&&upload.FileData.length>0&&upload.ListSelected.length>0">  
    <button type="button" class="btn btn-sm btn-danger margin-bottom-10" ng-click="upload.RemoveMultiAttachment()"> <i class="fa fa-trash"></i>Xóa tất cả</button>
</span>

<span ng-if="!to.multiUpload&&upload.FileData.length>0">
    <a href="javascript:;" ng-click="upload.ViewAttachment(upload.FileData[0])"></a>
    <strong>{{upload.FileData[0][to.nameAtribute]}}</strong>
    <i>{{upload.FileData[0][to.sizeAtribute] / 1024 / 1024 | number:2}} MB</i>
    <button type="button" class="btn btn-xs btn-primary" ng-click="upload.ViewAttachment(upload.FileData[0])"> <i class="fa fa-download"></i></button>
    <button type="button" class="btn btn-xs btn-danger" ng-click="upload.RemoveAttachment(upload.FileData[0])"> <i class="fa fa-trash"></i></button>
</span>
<div ng-if="upload.FileData.length>0&&to.multiUpload" class="">
    <table class="table table-striped table-hover table-bordered grid-table">
        <thead>
            <tr>
                <th class="table-checkbox sorting_disabled">
                    <div class="checker">
                        <span ng-class="upload.IsSelectAll?'checked':''">
                            <input type="checkbox" class="group-checkable" ng-click="upload.SelectAllItem()" ng-model="upload.IsSelectAll">
                        </span>
                    </div>
                </th>
                <th width="40px">
                    <a href="javascript:;">STT</a>
                </th>
                <th>
                    <a href="javascript:;">Tên</a>
                </th>
                <th width="100px">
                    <a href="javascript:;">Kích thước</a>
                </th>
                <th>
                    <a href="javascript:;">Ghi chú </a>
                </th>
                <th width="120px">
                    <a href="javascript:;"> Xử lý</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in upload.FileData">
                <th rowspan="1" colspan="1" aria-label="" style="width: 24px;">
                    <div class="checker">
                        <span ng-class="data.Selecting?'checked':''">
                            <input type="checkbox" ng-click="upload.SelectItem(data)" ng-model="data.Selecting" class="checkboxes">
                        </span>
                    </div>
                </th>
                <td>
                    {{$index+1}}
                </td>
                <td>
                    <strong>{{data[to.nameAtribute]}}</strong>
                </td>
                <td>
                    <i>{{data[to.sizeAtribute] / 1024 / 1024 | number:2}} MB</i>
                </td>
                <td>
                    <input type="text" ng-model="data.note" class="input-sm form-control" />
                </td>
                <td> 
                    <button type="button" class="btn btn-sm btn-circle  btn-primary" ng-click="upload.ViewAttachment(data)"> <i class="fa fa-download"></i></button>
                    <button type="button" class="btn btn-sm btn-circle  btn-danger" ng-click="upload.RemoveAttachment(data)"> <i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table"></table>
</div>
