
<style>
    label:after {
        content: "";
    }
    .userInfo label {
       text-align:right;
    }
    .styleEdit
    {
        height:416px;
    }
    .styleEdit2
    {
        height:340px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: -8px;
    }
    .styleAdd{
        height: 461px;        
    }
    .styleAdd2{
        height: 385px; 
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: -9px;       
    }
    .ui-select-container:nth-of-type(1) .selectize-dropdown-content {
        max-height: 368px!important;
    }
   .ui-select-container:nth-last-of-type(1) .selectize-dropdown-content {
        max-height: 128px!important;
    }
</style>

<form name="user_form">
    <div class="modal-content data-modal">
        <div class="modal-header">
            <a href="javascript:;" ng-click="cancel()" class="modal-close" aria-hidden="true"><i class="fa fa-close"></i></a>
            <span class="modal-title">
                <span>{{ProgramTitle}}</span>
            </span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 padding-all-5px">
                    <div class="col-md-8">
                        <fieldset class="userInfo">
                            <legend class="font-14 bold">THÔNG TIN NGƯỜI DÙNG</legend>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="control-label col-md-4">Đơn vị/phòng ban<span class="required">(*)</span></label>
                                    <div class="col-lg-8">
                                        <ui-select name="phongban" focus-on="UiSelectDemo1" ng-model="Select.DanhSachNhomOp" allow-clear="true" close-on-select="true" ng-disabled="disabled" title="Chọn đơn vị/phòng ban" style="width: 100%;" theme="selectize" required>
                                            <ui-select-match placeholder="--Chọn đơn vị/phòng ban--">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices ui-disable-choice="item.Loai ===1" repeat="item as item in DanhSachNhom | filter: $select.search">
                                                <div style="padding-left: {{15 * item.Level}}px" ng-class="item.Loai ===1?'text-bold':''" ng-bind-html="item.Name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <!--{{user_form.phongban.$dirty}}/{{user_form.phongban.$invalid}}/{{user_form.phongban.$error.required}}-->
                                        <div class="error" ng-show="user_form.$submitted">
                                            <small ng-show="user_form.phongban.$error.required">Bạn cần chọn đơn vị/phòng ban</small>
                                            <small ng-show="user_form.phongban.$error.$untouched">Bạn cần chọn đơn vị/phòng ban</small>
                                        </div>
                                        <div class="error">
                                            <small ng-show="Select.DanhSachNhomOp.OrganizationId===null">Bạn cần chọn đơn vị/phòng ban</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-4">Tên tài khoản<span class="required">(*)</span></label>
                                    <div class="col-md-8">
                                        <div class="input-group" style="text-align:left">
                                            <input type="text" ng-focus="Autofocus" name="username" ng-change="Availability.Status = 0" ng-model="UserName" required ng-maxlength="255" ng-trim="false" ng-readonly="readOnly" placeholder="Nhập vào tên tài khoản" class="form-control" />
                                            <span class="input-group-btn" ng-click="CheckNameAvailability(UserName)">
                                                <!-- Default status -->
                                                <a href="javascript:;" class="btn green" ng-if="Availability.Status == 0" ng-class="isEdit?'disabled':''">
                                                    <i class="fa fa-question"></i> Check
                                                </a>
                                                <!-- Success status -->
                                                <a href="javascript:;" class="btn btn-primary" ng-if="Availability.Status == 1" disabled="disabled">
                                                    <i class="fa fa-check"></i> OK
                                                </a>
                                                <!-- Error status -->
                                                <a href="javascript:;" class="btn btn-warning" ng-if="Availability.Status == -1">
                                                    <i class="fa fa-exclamation"></i> Check
                                                </a>
                                            </span>
                                        </div>
                                        <div class="error" ng-show="user_form.username.$dirty && user_form.username.$invalid">
                                            <!-- ERROR MESSAGES -->
                                            <small class="error" ng-show="user_form.username.$error.required">
                                                Bạn cần nhập tên tài khoản
                                            </small>
                                            <small class="error" ng-show="user_form.username.$error.maxlength">
                                                Bạn đã nhập quá 255 ký tự
                                            </small>
                                            <small class="error" ng-show="user_form.username.$error.pattern || user_form.username.$error.trim">
                                                Tên tài khoản không được có ký tự đặc biệt: space, /, ?,< ,>...
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-4 ">Tên đầy đủ<span class="required">(*)</span></label>
                                    <div class="col-md-8">
                                        <input type="text" name="fullname" ng-model="FullName" ng-focus="isEdit" required ng-maxlength="255" placeholder="Nhập vào tên đầy đủ" class="input-sm form-control" />
                                        <!-- ERROR MESSAGES -->
                                        <div class="error" ng-show="user_form.fullname.$dirty && user_form.fullname.$invalid">
                                            <small class="error" ng-show="user_form.fullname.$error.required">
                                                Bạn cần nhập tên đầy đủ
                                            </small>
                                            <small class="error" ng-show="user_form.fullname.$error.maxlength">
                                                Bạn đã nhập quá 255 ký tự
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" ng-if="isAdd">
                                    <label class="control-label col-md-4">Mật khẩu<span class="required">(*)</span></label>
                                    <div class="col-lg-8">
                                        <input type="password" name="password" autocomplete="off" required ng-model="items.Password" id="submit_form_password" placeholder="Nhập vào Mật khẩu" class="input-sm form-control" />
                                        <div class="error" ng-show="user_form.password.$dirty && user_form.password.$invalid">
                                            <small ng-show="user_form.confirm_password.$error.required">Bạn cần nhập mật khẩu</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" ng-if="isAdd">
                                    <label class="control-label col-md-4">Xác nhận mật khẩu<span class="required">(*)</span></label>
                                    <div class="col-lg-8">
                                        <input type="password" name="confirm_password" autocomplete="off" placeholder="Nhập lại mật khẩu" class="input-sm form-control" required data-password-verify="items.Password" ng-model='items.ConfirmedPassword' />
                                        <div class="error" ng-show="user_form.confirm_password.$dirty && user_form.confirm_password.$invalid">
                                            <small ng-show="user_form.confirm_password.$error.required">Bạn cần nhập lại mật khẩu</small>
                                            <small ng-show="user_form.confirm_password.$error.passwordVerify">Hai mật khẩu bạn nhập không giống nhau</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-4">Chức vụ</label>

                                    <div class="col-lg-8">
                                        <ui-select ng-model="Select.ChucVuOp.CatalogItemId" allow-clear="true" close-on-select="true" ng-disabled="disabled" title="Chọn chức vụ" style="width: 100%" theme="selectize">
                                            <ui-select-match placeholder="--Chọn chức vụ--">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="item.CatalogItemId as item in ChucVuData | filter: $select.search">
                                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group row" ng-hide="true">
                                    <label class="control-label col-md-4">Nick name</label>
                                    <div class="col-lg-8">
                                        <input type="text" name="NickName" ng-model="NickName" ng-maxlength="255" placeholder="Nhập vào bút danh" class="input-sm form-control" />
                                        <!-- ERROR MESSAGES -->
                                        <div class="error" ng-show="user_form.NickName.$dirty && user_form.NickName.$invalid">
                                            <small class="error" ng-show="user_form.NickName.$error.required">
                                                Bạn cần bút danh
                                            </small>
                                            <small class="error" ng-show="user_form.NickName.$error.maxlength">
                                                Bạn đã nhập quá 255 ký tự
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-4">Số điện thoại</label>
                                    <div class="col-lg-8">
                                        <input type="text" name="Mobile" ng-model="Mobile" ng-pattern="/^\s*(?:\+?(\d{1,3}))?([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*$/"
                                               placeholder="Nhập theo dạng 000 000 0000" class="input-sm form-control" />
                                        <!--{{user_form.Mobile.$invalid}} {{user_form.Mobile.$error.pattern}}-->
                                        <div class="error">
                                            <small class="error" ng-show="user_form.Mobile.$error.pattern">
                                                Bạn đã nhập sai định dạng
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-4">Email</label>
                                    <div class="col-lg-8">
                                        <input type="email" name="email" ng-model="Email" placeholder="Nhập vào Email" class="input-sm form-control" />
                                        <div class="error" ng-show="user_form.email.$dirty && user_form.email.$invalid">
                                            <!-- ERROR MESSAGES -->
                                            <small class="error" ng-show="user_form.email.$error.required">
                                                Bạn cần nhập email
                                            </small>
                                            <small class="error" ng-show="user_form.email.$error.email">
                                                Bạn cần nhập đúng định dạng email
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" ng-show="isEdit">
                                    <label class="control-label col-md-4">Mật khẩu<span class="required"></span> </label>
                                    <div class="col-lg-8">
                                        <input type="button" class="btn btn-sm btn-warning" value="Đổi mật khẩu" ng-click="OpenFormEditPassWord()" />
                                    </div>
                                </div>
                                <div class="form-group row" >
                                    <label class="control-label col-md-4">Hoạt động</label>
                                    <div class="col-lg-8">
                                        <input type="checkbox" ng-model="Active" ng-disabled="isAdd">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4 padding-left-none">
                        <fieldset ng-class="isEdit?'styleEdit':'styleAdd'">
                            <legend class="font-14 bold">CHỌN NHÓM QUYỀN</legend>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon sm"><i class="fa fa-search"></i></span>
                                            <input type="text" ng-model="filterText" class="col-md-12 input-sm form-control" placeholder="Tìm kiếm" ng-pattern="word" ng-trim="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10" ng-class="isEdit?'styleEdit2':'styleAdd2'">
                                <div class="col-md-12">
                                    <div class="col-md-12" style="margin-top:10px" ng-if="false">
                                        <div class="form-group">
                                            <input class="checkboxes" type="checkbox" ng-model="checkall" ng-click="SelectAllRole()"> Chọn tất cả
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="checkbox-list">
                                            <label ng-repeat="role in Roles | filter:filterText">
                                                <input type="checkbox" checklist-model="SelectedRoles" checklist-value="role.RoleCode"> {{role.RoleName}}<br />{{role.RoleCode}}/{{SelectedRoles}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary" ng-click="btnSave()"><i class="fa fa-save"></i> Lưu</button>
            <button type="button" class="btn btn-sm btn-warning" ng-click="cancel()"><i class="fa fa-ban"></i> Đóng</button>
        </div>
    </div>
</form>
