﻿
<style>
    label:after {
        content: "";
    }

    .userInfo label {
        text-align: right;
    }

    .styleEdit {
        height: 416px;
    }

    .styleEdit2 {
        height: 340px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: -8px;
    }

    .styleAdd {
        height: 461px;
    }

    .styleAdd2 {
        height: 385px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: -9px;
    }

    .ui-select-container:nth-of-type(1) .selectize-dropdown-content {
        max-height: 368px !important;
    }

    .ui-select-container:nth-last-of-type(1) .selectize-dropdown-content {
        max-height: 128px !important;
    }
</style>

<form name="user_form">
    <div class="modal-content data-modal">
        <div class="modal-header">
            <a href="javascript:;" ng-click="cancel()" class="modal-close" aria-hidden="true"><i class="fa fa-close"></i></a>
            <span class="modal-title">
                <span>{{ProgramTitle}}</span>
            </span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 padding-all-5px">
                    <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="control-label col-md-4 bold">Trung tâm</label>
                                    <div class="col-lg-8">
                                        <span class="control-label">{{userInfor.ParentOrganizationName}}</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-4 bold">Đơn vị/phòng ban</label>
                                    <div class="col-lg-8">
                                        <span class="control-label">{{userInfor.OrganizationName}}</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-4 bold">Tên tài khoản</label>
                                    <div class="col-md-8">
                                        <div class="input-group" style="text-align: left">
                                            <span class="control-label">{{userInfor.Name}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-4 bold">Tên đầy đủ</label>
                                    <div class="col-md-8">
                                        <span class="control-label">{{userInfor.FullName}}</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-4 bold">Số điện thoại</label>
                                    <div class="col-lg-8">
                                        <span class="control-label">{{userInfor.Mobile===null ? 'Chưa có' : userInfor.Mobile}}</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-4 bold">Email</label>
                                    <div class="col-lg-8">
                                        <span class="control-label">{{userInfor.Email===null ? 'Chưa có' : userInfor.Email}}</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-warning" ng-click="cancel()"><i class="fa fa-ban"></i> Đóng</button>
        </div>
    </div>
</form>
