﻿<div class="portlet light">
    <div class="portlet-title">
        <div class="caption caption-md">
            <span class="caption-subject bold theme-font-color uppercase">{{$state.current.data.pageTitle}}</span>
        </div>
        <div class="inputs">
            <div class="portlet-input input-large input-inline">
                <div class="input-group input-group-sm">
                    <div class="input-icon right">
                        <i class="icon-magnifier" ng-click="Grid.Search()"></i>
                        <input type="text" ng-disabled="AdvancedFilter.Visible" ng-model="Filter.Text" ng-keyup="$event.keyCode == 13 && Grid.Search()" class="form-control form-control-solid input-sm" placeholder="Tìm kiếm...." ng-pattern="word" required ng-trim="true" />
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="AdvancedFilter.Visible =!AdvancedFilter.Visible;Filter.Text=''">
                            <i ng-if="!AdvancedFilter.Visible" class="fa fa-angle-down"></i>
                            <i ng-if="AdvancedFilter.Visible" class="fa fa-angle-up"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="actions pull-right">
            <button type="button" class="btn btn-danger" ng-if="Button.Delete.Visible && Button.Delete.GrantAccess" ng-disabled="!Button.Delete.Enable" ng-click="Button.Delete.Click()">
                <i class="fa fa-trash"></i>&nbsp;
                {{Button.Delete.Title}}
            </button>
            <button type="button" class="btn default" ng-disabled="AdvancedFilter.Visible" ng-click="Grid.Refesh()">
                <i class="fa fa-refresh"></i>
                Tải lại
            </button>
            <button type="button" ng-if="Button.Add.Visible  && Button.Add.GrantAccess" ng-disabled="!Button.Add.Enable" class="btn btn-primary" ng-click="Button.Add.Click()">
                <i class="fa fa-plus"></i>&nbsp;
                {{Button.Add.Title}}
            </button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <!-- ADVANCED SEARCH -->
            <form name="advanced_search_form" ng-submit="Grid.Search()" ng-show="AdvancedFilter.Visible">
                <div class="col-md-12 col-lg-12">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Tên phim (VN-EN)</label>
                            <div class="">
                                <input type="text" ng-model="AdvancedFilter.Model.Name" class="form-control form-control-solid" placeholder="Nhập vào tên phim (tiếng anh - tiếng việt)" ng-pattern="word" ng-trim="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Nhà phát hành</label>
                            <ui-select ng-model="AdvancedFilter.Model.Distributor" allow-clear="true" close-on-select="true" title="Chọn nhà phát hành" theme="bootstrap">
                                <ui-select-match allow-clear="true" placeholder="--Chọn nhà phát hành--">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="item in DropDownList.ListDistributor | filter: $select.search">
                                    <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ScreenProjector">Ngày phát hành (bắt đầu)</label>
                            <div class="input-group">
                                <input type="text"
                                       id="OpeningDate"
                                       name="OpeningDate"
                                       placeholder="{{Button.DateTime.format}}"
                                       ng-model="AdvancedFilter.Model.StartDate"
                                       class="form-control"
                                       ng-click="Button.DateTime.StartDatePicker($event)"
                                       uib-datepicker-popup="{{Button.DateTime.format}}"
                                       datepicker-popup="{{Button.DateTime.format}}"
                                       ng-model-options="{timezone: 'utc'}"
                                       is-open="Button.DateTime.IsStartDatePickerOpened"
                                       datepicker-options="Button.DateTime.dateOptions"
                                       ng-change="OpeningDateChange()"
                                       close-text="Đóng" clear-text="Xóa" current-text="Hôm nay"
                                       ng-disabled="IsReadOnlyInput" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-disabled="IsReadOnlyInput" ng-click="Button.DateTime.StartDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ScreenProjector">Ngày phát hành (kết thúc)</label>
                            <div class="input-group">
                                <input type="text"
                                       id="OpeningDate"
                                       name="OpeningDate"
                                       placeholder="{{Button.DateTime.format}}"
                                       ng-model="AdvancedFilter.Model.EndDate"
                                       class="form-control"
                                       ng-click="Button.DateTime.EndDatePicker($event)"
                                       uib-datepicker-popup="{{Button.DateTime.format}}"
                                       datepicker-popup="{{Button.DateTime.format}}"
                                       ng-model-options="{timezone: 'utc'}"
                                       is-open="Button.DateTime.IsEndDatePickerOpened"
                                       datepicker-options="Button.DateTime.dateOptions"
                                       ng-change="OpeningDateChange()"
                                       close-text="Đóng" clear-text="Xóa" current-text="Hôm nay"
                                       ng-disabled="IsReadOnlyInput" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-disabled="IsReadOnlyInput" ng-click="Button.DateTime.EndDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="col-md-12 col-lg-12">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Trạng thái hoạt động</label>
                            <ui-select ng-model="AdvancedFilter.Model.Status" allow-clear="true" close-on-select="true" title="Chọn trạng thái" theme="bootstrap">
                                <ui-select-match allow-clear="true" placeholder="--Chọn trạng thái--">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="item in DropDownList.ListStatus | filter: $select.search">
                                    <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Trạng thái phim hot</label>
                            <ui-select ng-model="AdvancedFilter.Model.Hot" allow-clear="true" close-on-select="true" title="Chọn trạng thái" theme="bootstrap">
                                <ui-select-match allow-clear="true" placeholder="--Chọn trạng thái--">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="item in DropDownList.ListHot | filter: $select.search">
                                    <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Sắp xếp thứ tự hiển thị</label>
                            <ui-select ng-model="AdvancedFilter.Model.Order" allow-clear="true" close-on-select="true" title="Chọn trạng thái" theme="bootstrap">
                                <ui-select-match allow-clear="true" placeholder="--Chọn thứ tự hiển thị--">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="item in DropDownList.ListOrder | filter: $select.search">
                                    <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">   </label>
                        <div class="form-group form-actions">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-filter"></i>&nbsp;Lọc dữ liệu</button>
                            <button type="button" class="btn btn-sm default" ng-click="Button.ResetAdvancedFilter.Click()"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Đặt lại</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- TABLE GRID -->
            <div class="col-md-12 col-lg-12">
                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                    <thead>
                        <tr class="grid-header">
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width:4%;">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" ng-click="Grid.CheckAllItem()" ng-model="Grid.CheckAll" />
                                    <span></span>
                                </label>
                            </th>
                            <th ng-repeat="item in Grid.DataHeader" ng-class="Grid.GetItemHeaderClass(item)"
                                ng-click="Grid.ClickToHeader(item)" style="width:{{item.Width}}">
                                {{item.Value}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="Grid.Data.length>0 && Grid.GrantAccess" ng-repeat="item in Grid.Data " ng-class="Grid.GetItemClass(item)">
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="checkboxes" ng-click="Grid.CheckItem(item)" ng-model="item.selected" ng-class="{selected: $index==selectedRow}">
                                    <span></span>
                                </label>
                            </td>
                            <td align="center">
                                <span>{{$index +1}}</span>
                            </td>
                            <td>
                                <span>{{item.Code}}</span>
                            </td>
                            <td>
                                <a href="javascript:void(0);" ng-click="Button.Detail.Click(item)" target="_self" class="item-title">{{item.Name}}</a><br />
                            </td>
                            <td>
                                <a href="javascript:void(0);" ng-click="Button.Detail.Click(item)" target="_self" class="item-title">{{item.Name_F}}</a><br />
                            </td>
                            <td>
                                <span>{{item.FilmFormatName}} - {{item.FilmDubbingName}}</span>
                            </td>
                            <td>
                                <span>{{item.DistributorName}}</span>
                            </td>
                            <td>
                                <span>{{item.Duration}}</span>
                            </td>
                            <td>
                                <span>{{ item.OpeningDate | date : "dd/MM/yyyy" }}</span>
                            </td>
                            <td>
                                <span>{{item.Order}}</span>
                            </td>
                            <td>
                                <span class="label label-xs label-info ng-scope" ng-if="item.Status">Hoạt động</span>
                                <span class="label label-xs label-danger ng-scope" ng-if="!item.Status">Không hoạt động</span>
                            </td>
                            <td>
                                <button type="button" uib-tooltip="Xem chi tiết" class="btn btn-circle btn-icon-only green" ng-if="Button.Detail.GrantAccess" ng-click="Button.Detail.Click(item)"><i class="fa fa-info"></i></button>
                                <button type="button" uib-tooltip="Xem tỉ lệ phim" class="btn btn-circle btn-icon-only green" ng-if="Button.RatioDetail.GrantAccess" ng-click="Button.RatioDetail.Click(item)"><i class="fa fa-percent" aria-hidden="true"></i></button>
                                <button type="button" uib-tooltip="Cập nhật" class="btn btn-circle btn-icon-only blue" ng-if="Button.Update.GrantAccess" ng-click="Button.Update.Click(item)"><i class="fa fa-edit"></i></button>
                                <button type="button" uib-tooltip="Nhân bản" class="btn btn-circle btn-icon-only yellow" ng-if="Button.Copy.GrantAccess" ng-click="Button.Copy.Click(item)"><i class="fa fa-copy"></i></button>
                                <button type="button" uib-tooltip="Xóa" class="btn btn-circle btn-icon-only red" ng-if="Button.Delete.GrantAccess" ng-click="Button.Delete.Click(item)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        <tr ng-if="Grid.Data.length ===0&&Grid.GrantAccess"><td colspan="20">Không có dữ liệu !</td></tr>
                        <tr ng-if="!Grid.GrantAccess"><td colspan="20">Bạn không có quyền xem dữ liệu</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
            <!-- PAGINATION -->
            <div class="col-md-12" ng-show="Grid.TotalCount>0 && Grid.GrantAccess" data-ng-include="'/app-data/views/template/pagination/pagination.html'"></div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
</div>
