﻿<form name="film_form" id="film_form" ng-submit="Button.Save.Click(film_form)">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption caption-md">
                <span class="caption-subject bold theme-font-color uppercase">{{$state.current.data.pageTitle}}</span>
            </div>
            <div class="actions pull-right">
                <button type="submit" class="btn btn-primary" ng-if="!IsUpdate && !IsCopy" ng-click="Button.SaveOnly.Click()"><i class="fa fa-save"></i> Lưu</button>
                <button type="submit" class="btn btn-primary" ng-if="!IsUpdate && !IsCopy" ng-click="Button.SaveAndClose.Click()"><i class="fa fa-save"></i> Lưu và đóng</button>
                <button type="submit" class="btn btn-primary" ng-if="IsUpdate || IsCopy" ng-click="Button.SaveAndClose.Click()"><i class="fa fa-save"></i> Lưu</button>
                <button type="button" class="btn btn-warning" ng-click="Button.Close.Click()">
                    <i class="fa fa-ban"></i>&nbsp;
                    Đóng
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <div class="clearfix"></div>

            <!--Tên-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name">Tên phim (VN)<span class="required">(*)</span></label>
                        <input type="text" id="Name" name="Name" ng-model="Film.Name" placeholder="Nhập tên phim (tiếng Việt)" ng-maxlength="512" class="form-control" required />
                        <div ng-show="film_form.Name.$dirty && film_form.Name.$invalid || film_form.Name.$submitted">
                            <small class="has-error" ng-show="film_form.Name.$error.maxlength">
                                Bạn đã nhập quá 512 ký tự
                            </small>
                            <small class="has-error" ng-show="film_form.Name.$error.required">
                                Tên phim (VN) không được để trống
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name_F">Tên phim (EN)<span class="required">(*)</span></label>
                        <input type="text" id="Name_F" name="Name_F" ng-model="Film.Name_F" placeholder="Nhập tên phim (tiếng Anh)" ng-maxlength="512" class="form-control" required />
                        <div ng-show="film_form.Name_F.$dirty && film_form.Name_F.$invalid || film_form.Name_F.$submitted">
                            <small class="has-error" ng-show="film_form.Name_F.$error.maxlength">
                                Bạn đã nhập quá 512 ký tự
                            </small>
                            <small class="has-error" ng-show="film_form.Name_F.$error.required">
                                Tên phim (EN) không được để trống
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <!--Mã - Định dạng phim-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="Name">Mã<span class="required">(*)</span></label>
                            <input type="text" id="Code" ng-disabled="IsUpdate" name="Code" ng-model="Film.Code" placeholder="Nhập mã phim" ng-maxlength="512" class="form-control" required />
                            <div ng-show="film_form.Code.$dirty && film_form.Code.$invalid || film_form.Code.$submitted">
                                <small class="has-error" ng-show="film_form.Code.$error.maxlength">
                                    Bạn đã nhập quá 512 ký tự
                                </small>
                                <small class="has-error" ng-show="film_form.Code.$error.required">
                                    Mã phim không được để trống
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ListFilmFormatId">Định dạng phim <span class="required">(*)</span></label>
                        <ui-select ng-model="Film.FilmFormat" ng-disabled="IsUpdate" allow-clear="true" close-on-select="true" title="Chọn định dạng phim" theme="bootstrap">
                            <ui-select-match placeholder="--Chọn định dạng phim--">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="item in ListFilmFormat | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ListFilmFormatId">Hình thức phim <span class="required">(*)</span></label>
                        <ui-select ng-model="Film.FilmDubbing" ng-disabled="IsUpdate" allow-clear="true" close-on-select="true" title="Chọn hình thức phim" theme="bootstrap">
                            <ui-select-match placeholder="--Chọn hình thức phim--">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="item in ListFilmDubbing | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <!--Thể loại - nhà phát hành-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ListGenre">Thể loại<span class="required">(*)</span></label>
                        <ui-select ng-model="Film.ListGenre" multiple allow-clear="true" close-on-select="false" title="Chọn thể loại" theme="bootstrap">
                            <ui-select-match placeholder="--Chọn thể loại--">{{$item.Name}}</ui-select-match>
                            <ui-select-choices repeat="item in ListGenre | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="DistributorId">Nhà phát hành<span class="required">(*)</span></label>
                        <ui-select ng-model="Film.Distributor" allow-clear="true" close-on-select="true" title="Chọn nhà phát hành" theme="bootstrap">
                            <ui-select-match placeholder="--Chọn nhà phát hành--">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="item in ListDistributor | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <!--Studio, phân loại độ tuổi-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Studio <span class="required">(*)</span></label>
                        <!--<ui-select ng-model="Film.Studio" close-on-select="true" title="Chọn studio" theme="bootstrap">
        <ui-select-match placeholder="--Chọn studio--">{{$select.selected.Name}}</ui-select-match>
        <ui-select-choices repeat="item in ListStudio | filter: $select.search">
            <div ng-bind-html="item.Name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>-->
                        <input type="text" id="StudioName" name="StudioName" ng-model="Film.StudioName" placeholder="Nhập tên Studio" ng-maxlength="512" class="form-control" required />
                        <div ng-show="film_form.StudioName.$dirty && film_form.StudioName.$invalid || film_form.StudioName.$submitted">
                            <small class="has-error" ng-show="film_form.StudioName.$error.maxlength">
                                Bạn đã nhập quá 512 ký tự
                            </small>
                            <small class="has-error" ng-show="film_form.StudioName.$error.required">
                                Tên Studio không được để trống
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Phân loại độ tuổi</label>
                        <ui-select ng-model="Film.FilmRestrictAge" close-on-select="true" title="Chọn độ tuổi" ng-change="FilmRestrictAgeChange()" theme="bootstrap">
                            <ui-select-match allow-clear="true" placeholder="--Chọn độ tuổi--">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="item in ListFilmRestrictAge | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <!--Xếp hạng - thời lượng - ngôn ngữ - phụ đề-->
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Rate">Xếp hạng <span class="required">(*)</span></label>
                        <input type="text" id="Rate" name="Rate" ng-model="Film.Rate" required placeholder="Nhập xếp hạng" class="form-control" />
                        <!--<div ng-show="film_form.Rate.$dirty && film_form.Rate.$invalid||film_form.Rate.$submitted">
                        <small class="has-error" ng-show="film_form.Rate.$error.max">
                            Xếp hạng phải nhỏ hơn hoặc bằng 10
                        </small>
                        <small class="has-error" ng-show="film_form.Rate.$error.min">
                            Xếp hạng phải lớn hơn hoặc bằng 0
                        </small>
                    </div>-->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Duration">Thời lượng<span class="required">(*)</span></label>
                        <div class="input-group">
                            <input type="number" name="Duration" ng-model="Film.Duration" placeholder="Nhập thời lượng" ng-min="1" required class="form-control" />
                            <div class="input-group-addon">phút</div>
                        </div>
                        <div ng-show="film_form.Duration.$dirty && film_form.Duration.$invalid||film_form.Duration.$submitted">
                            <small class="has-error" ng-show="film_form.Duration.$error.min">
                                Thời lượng phim phải lớn hơn 0
                            </small>
                            <small class="has-error" ng-show="film_form.Duration.$error.required">
                                Thời lượng không được để trống
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="MainLanguage">Ngôn ngữ</label>
                        <input type="text" id="MainLanguage" name="MainLanguage" ng-model="Film.MainLanguage" placeholder="Nhập ngôn ngữ" ng-maxlength="512" class="form-control" />
                        <div ng-show="film_form.MainLanguage.$dirty && film_form.MainLanguage.$invalid||film_form.MainLanguage.$submitted">
                            <small class="has-error" ng-show="film_form.MainLanguage.$error.maxlength">
                                Bạn đã nhập quá 512 ký tự
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ListSubtitle">Phụ đề</label>
                        <ui-select ng-model="Film.Subtitle" allow-clear="true" close-on-select="true" title="Chọn phụ đề" ng-change="SubtitleChange()" theme="bootstrap">
                            <ui-select-match allow-clear="true" placeholder="--Chọn phụ đề--">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="item in ListSubtitle | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <!--Ngày phát hành, Trailer Url-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Ngày phát hành <span class="required">(*)</span></label>
                        <div class="input-group">
                            <input type="text"
                                   id="OpeningDate"
                                   name="OpeningDate"
                                   placeholder="{{Button.DateTime.format}}"
                                   ng-model="Film.OpeningDate"
                                   class="form-control"
                                   ng-click="Button.DateTime.OpenDatePicker($event)"
                                   uib-datepicker-popup="{{Button.DateTime.format}}"
                                   datepicker-popup="{{Button.DateTime.format}}"
                                   ng-model-options="{timezone: 'utc'}"
                                   is-open="Button.DateTime.IsDatePickerOpened"
                                   datepicker-options="Button.DateTime.dateOptions"
                                   ng-change="OpeningDateChange()"
                                   close-text="Đóng" clear-text="Xóa" current-text="Hôm nay" required
                                   ng-disabled="IsReadOnlyInput" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-disabled="IsReadOnlyInput" ng-click="Button.DateTime.OpenDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                        <div ng-show="film_form.OpeningDate.$dirty && film_form.OpeningDate.$invalid||film_form.$submitted || pricecard_form.OpeningDate.$error.pattern">
                            <small class="has-error" ng-show="film_form.OpeningDate.$error.required">
                                Ngày phát hành không được để trống <br />
                            </small>
                            <small class="has-error" ng-show="!film_form.OpeningDate.$valid">
                                Sai định dạng ngày tháng năm ({{Button.DateTime.format}})
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Trailer Url<span class="required">(*)</span></label>
                        <input type="text" id="TrailerURL" name="TrailerURL" ng-model="Film.TrailerURL" placeholder="Trailer Url" ng-maxlength="512" class="form-control" required />
                        <div ng-show="film_form.Projector.$dirty && film_form.Projector.$invalid||film_form.Projector.$submitted">
                            <small class="has-error" ng-show="film_form.Projector.$error.maxlength">
                                Bạn đã nhập quá 512 ký tự
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <!--Nội dung tóm tắt-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Nội dung tóm tắt (VN)<span class="required">(*)</span></label>
                        <textarea rows="4" type="text" style="resize:vertical" id="ShortDescription" name="ShortDescription" ng-model="Film.ShortDescription" placeholder="Nhập nội dung tóm tắt (tiếng Việt)" class="form-control" required></textarea>
                        <div ng-show="film_form.ShortDescription.$dirty && film_form.ShortDescription.$invalid||film_form.ShortDescription.$submitted">
                            <small class="has-error" ng-show="film_form.ShortDescription.$error.required">
                                Nội dung tóm tắt (VN) không được để trống
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Nội dung tóm tắt (EN)<span class="required">(*)</span></label>
                        <textarea rows="4" type="text" style="resize:vertical" id="ShortDescription_F" name="ShortDescription_F" ng-model="Film.ShortDescription_F" placeholder="Nhập nội dung tóm tắt (tiếng Anh)" class="form-control" required></textarea>
                        <div ng-show="film_form.ShortDescription_F.$dirty && film_form.ShortDescription_F.$invalid||film_form.ShortDescription_F.$submitted">
                            <small class="has-error" ng-show="film_form.ShortDescription_F.$error.required">
                                Nội dung tóm tắt (EN) không được để trống
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <!--Nội dung chi tiết-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Nội dung chi tiết (VN)</label>
                        <textarea rows="4" type="text" style="resize:vertical" id="Description" name="Description" ng-model="Film.Description" placeholder="Nhập nội dung chi tiết (tiếng Việt)" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Nội dung chi tiết (EN)</label>
                        <textarea rows="4" type="text" style="resize:vertical" id="Description_F" name="Description_F" ng-model="Film.Description_F" placeholder="Nhập nội dung chi tiết (tiếng Anh)" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <!--Đạo diễn - diễn viên-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Đạo diễn</label>
                        <input type="text" id="Director" name="Director" ng-model="Film.Director" placeholder="Nhập tên đạo diễn" ng-maxlength="512" class="form-control" />
                        <div ng-show="film_form.Director.$dirty && film_form.Director.$invalid||film_form.Director.$submitted">
                            <small class="has-error" ng-show="film_form.Director.$error.maxlength">
                                Bạn đã nhập quá 512 ký tự
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ScreenProjector">Diễn viên</label>
                        <input type="text" id="Actors" name="Actors" ng-model="Film.Actors" placeholder="Nhập tên diễn viên" ng-maxlength="512" class="form-control" />
                        <div ng-show="film_form.Actors.$dirty && film_form.Actors.$invalid||film_form.Actors.$submitted">
                            <small class="has-error" ng-show="film_form.Actors.$error.maxlength">
                                Bạn đã nhập quá 512 ký tự
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <!--Đang/Sắp chiếu - suất chiếu đặc biệt - thứ tự - trạng thái-->
            <div class="row">
                <!--<div class="col-md-3">
                    <div class="form-group">
                        <label>Trạng thái chiếu</label>
                        <br />
                        <div class="mt-radio-inline">
                            <label class="mt-radio mt-radio-outline margin-bottom-none">
                                <input type="radio" ng-disabled="IsInfo" ng-checked="Film.NowShowing===true" ng-model="Film.NowShowing" value="true">
                                Đang chiếu
                                <span></span>
                            </label>
                            <label class="mt-radio mt-radio-outline margin-bottom-none">
                                <input type="radio" ng-disabled="IsInfo" ng-checked="Film.NowShowing===false" ng-model="Film.NowShowing" value="false">
                                Sắp chiếu
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>-->

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ScreenProjector">Là phim hot</label>
                        <br />
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" class="checkboxes ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="Film.Hot">
                            <span></span>
                        </label>
                        <span class="label label-xs label-info" ng-if="Film.Hot">Có</span>
                        <span class="label label-xs label-warning" ng-if="!Film.Hot">Không</span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ScreenProjector">Thứ tự hiển thị</label>
                        <input type="number" id="Order" name="Order" ng-model="Film.Order" placeholder="Thứ tự hiển thị" class="form-control" />
                        <div ng-show="film_form.Projector.$dirty && film_form.Projector.$invalid||film_form.Projector.$submitted">
                            <small class="has-error" ng-show="film_form.Projector.$error.maxlength">
                                Phải nhập số
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Trạng thái hoạt động</label>
                        <br />
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" class="checkboxes ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="Film.Status">
                            <span></span>
                        </label>
                        <span class="label label-xs label-info" ng-if="Film.Status">Hoạt động</span>
                        <span class="label label-xs label-danger" ng-if="!Film.Status">Không hoạt động</span>
                    </div>
                </div>
            </div>

            <!--Hình ảnh-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Poster">Hình ảnh phim (Poster)<span class="required">(*)</span></label>
                        <button type="button" class="btn btn-sm btn-primary"
                                ngf-pattern="'.jpg,.png,.bmp,.gif'"
                                ngf-accept="'.jpg,.png,.bmp,.gif'"
                                ngf-maxsize="50MB"
                                multiple="true"
                                ngf-select="UploadFiles(item, $files,$invalidFiles)">
                            <i class="fa fa-upload"></i>
                            Tải ảnh
                        </button><br />
                        <div class="clearfix"></div>
                        <fieldset ng-if="Film.ListPosterUrl.length !== 0">
                            <div ng-repeat="f in Film.ListPosterUrl"
                                 class="col-md-3 col-sm-6 col-xs-12">
                                <div style="height:360px; margin: 5px 5px 5px 5px; background-image: url({{f.Link}});  background-position: center; background-repeat: no-repeat; background-size: cover;">
                                    <p class="text-right">
                                        <a href="{{f.Link}}" target="_blank"><i class="fa fa-external-link" aria-hidden="true" style="font-size:22px; margin-top:5px;"></i></a>
                                        <span ng-click="RemoveImage(f)"><i class="fa fa-times input-sm" aria-hidden="true" style="font-size:22px; color:#FF0000; margin-top:5px;"></i></span> <br />
                                    </p>
                                    <div style="height:260px">
                                    </div>
                                    <div style="background-color: white; height: 45px; width: 45px; padding-left: 12px">
                                        <label class="mt-radio mt-radio-outline margin-bottom-none" style="background-color: white;">
                                            <input type="radio" ng-disabled="IsInfo" ng-checked="Film.MainPosterURL===f.AbsolutePath" ng-model="Film.MainPosterURL" ng-value="f.AbsolutePath">
                                            <span></span>
                                        </label>

                                    </div>
                                </div>

                            </div>
                        </fieldset>
                        <br />
                        <label for="nothing">Ảnh được đánh dấu </label>
                        <input type="radio" disabled checked>
                        <label for="nothing"> là ảnh đại diện</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-title">
            <div class="caption caption-md">
            </div>
            <div class="actions pull-right">
                <button type="submit" class="btn btn-primary" ng-if="!IsUpdate && !IsCopy" ng-click="Button.SaveOnly.Click()"><i class="fa fa-save"></i> Lưu</button>
                <button type="submit" class="btn btn-primary" ng-if="!IsUpdate && !IsCopy" ng-click="Button.SaveAndClose.Click()"><i class="fa fa-save"></i> Lưu và đóng</button>
                <button type="submit" class="btn btn-primary" ng-if="IsUpdate || IsCopy" ng-click="Button.SaveAndClose.Click()"><i class="fa fa-save"></i> Lưu</button>
                <button type="button" class="btn btn-warning" ng-click="Button.Close.Click()">
                    <i class="fa fa-ban"></i>&nbsp;
                    Đóng
                </button>
            </div>
        </div>
    </div>
</form>
