﻿<form name="user_form">
    <div class="modal-header">
        <h3 class="modal-title">{{TitleForm}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <label class="control-label col-md-4"><span class="required">*</span> Tên Menu: </label>
            <div class="col-lg-8">
                <input type="text" ng-focus="Autofocus" name="username" ng-model="items.NavName" required ng-maxlength="255" ng-trim="false" ng-pattern="word" ng-readonly="readOnly" placeholder="Nhập vào tên tài khoản" class="input-sm form-control" />
                <div class="has-error" ng-show="user_form.username.$dirty && user_form.username.$invalid">
                    <!-- ERROR MESSAGES -->
                    <small class="has-error" ng-show="user_form.username.$error.required">
                        Bạn cần nhập tên tài khoản
                    </small>
                    <small class="has-error" ng-show="user_form.username.$error.maxlength">
                        Bạn đã nhập quá 255 ký tự
                    </small>
                    <small class="has-error" ng-show="user_form.username.$error.pattern || user_form.username.$error.trim">
                        Tên tài khoản không được có ký tự đặc biệt: space, /, ?,< ,>...
                    </small>
                </div>
            </div>
        </div>

        <div class="row" ng-if="ListRoleSelected.length > 0">
            <div class="clearfix"></div><br />
            <label class="control-label col-md-12"> Nhóm người dùng đã chọn: </label>
            <div class="col-md-12">
                <span ng-repeat="rs in ListRoleSelected">
                    {{rs.RoleName}}<span ng-if="ListRoleSelected.length != ($index +1)">, </span>
                </span>
            </div>

        </div>
        <div class="clearfix"></div><br />
        <div class="row">
            <label class="control-label col-md-12"><span class="required"></span> Nhóm người dùng được tác động: </label>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon sm" ng-click="Search()"><i class="fa fa-search"></i></span>
                    <input type="text" ng-model="filterText.RoleName" class="col-md-12 input-sm form-control" placeholder="Tìm kiếm" ng-pattern="word" ng-trim="true">

                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <input type="checkbox" ng-model="checkall" ng-click="SelectAllRole()"> Chọn tất cả
                </div>
            </div>
            <div class="col-lg-12 col-md-12" style="height:300px;overflow-x:hidden;">
                <div class="checkbox-list">
                    <label ng-repeat="role in Roles | filter:filterText">
                        <input type="checkbox" ng-model="role.selected" ng-click="SelectRole()"> {{role.RoleName}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-primary" ng-click="Save()" value="Lưu" />
        <input type="button" class="btn btn-warning" ng-click="cancel()" value="Đóng" />
    </div>


</form>
