﻿
<div class="input-group" >
    <input type="text" class="form-control input-sm" ng-model="model[options.key]" />
    <span class="input-group-btn" style="min-width:50px">
        <formly-transclude></formly-transclude>
    </span>
</div>