﻿<div id="sidebar-scrollable" class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': $settings.layout.pageSidebarClosed}">
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
        <li class="sidebar-search-wrapper">
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
            <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
            <form class="sidebar-search sidebar-search-bordered hide" action="#" method="POST">
                <a href="javascript:;" class="remove">
                    <i class="icon-close"></i>
                </a>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit">
                            <i class="icon-magnifier"></i>
                        </a>
                    </span>
                </div>
            </form>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <li class="nav-item" ng-repeat="nav in Navigations.Data" ng-include="'sidebarItem'"></li>
    </ul>
    <script type="text/ng-template" id="sidebarItem">
        <a ng-if="nav.SubRight.length===0" ui-sref="{{nav.Code}}">
            <i class="{{nav.IconClass}}"></i>
            <span class="title">
                <span ng-if="nav.IconClass === '' || nav.IconClass===null">{{$index+1}}.</span>
                {{nav.Name}}
            </span>
        </a>
        <a ng-if="nav.SubRight.length!==0" href="#" class="nav-link nav-toggle">
            <i class="{{nav.IconClass}}"></i>
            <span class="title">
                <span ng-if="nav.IconClass === '' || nav.IconClass===null">{{$index+1}}.</span>
                {{nav.Name}}
            </span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu" ng-if="nav.SubRight.length!==0">
            <li class="nav-item" ng-repeat="nav in nav.SubRight" ng-include="'sidebarItem'"></li>
        </ul>
    </script>
    <!-- END SIDEBAR MENU -->
</div>