﻿<div class="modal-content cmodal">
    <div class="modal-header">
        <a href="javascript:;" ng-click="Cancel()" class="modal-close" aria-hidden="true"><i class="fa fa-close"></i></a>
        <span class="modal-title">
            <span>Chọn trường tin</span>
        </span>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="portlet-input input-medium input-inline">
                        <!--<div class="input-group input-group-sm">-->
                            <div class="input-icon right">
                                <i class="icon-magnifier" ng-click="Button.Search.Click()"></i>
                                <input type="text" ng-disabled="IsAdvancedSearch" ng-model="TextSearch" ng-keyup="$event.keyCode == 13 && Button.Search.Click()" class="form-control form-control-solid input-sm" placeholder="Tìm kiếm...." ng-pattern="word" required ng-trim="true" />
                            </div>
                            <!--<span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="IsAdvancedSearch =!IsAdvancedSearch;TextSearch=''">
                                    <i ng-if="!IsAdvancedSearch" class="fa fa-angle-down"></i>
                                    <i ng-if="IsAdvancedSearch" class="fa fa-angle-up"></i>
                                </button>
                            </span>-->
                        <!--</div>-->
                    </div>
                </div> 
                <div class="pull-right">
                    <a href="javascript:void(0)" class="btn btn-danger btn-sm" ng-click="Button.DeleteMulti.Click()" ng-if="ListSelected.length>1">
                        <i class="fa fa-trash-o"></i> Xóa đã chọn
                    </a>
                    <button type="button" class="btn btn-sm default margin-right-10" uib-tooltip="Tải lại" ng-click="Button.Reload.Click()">
                        <i class="fa fa-refresh"></i>&nbsp;
                        <span>Tải lại</span>
                    </button>
                </div>
            </div>
            <hr />
            <!-- ADVANCED SEARCH -->
            <div class="col-md-12" ng-show="IsAdvancedSearch">
                <form name="advanced_search_form" ng-submit="Button.Search.Click()">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label">Có các từ</label>
                            <div class="">
                                <input type="text" ng-model="TextSearch" class="form-control form-control-solid input-sm" placeholder="Tìm kiếm ..." ng-pattern="word" ng-trim="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="checker">
                                <span ng-class="IsRecordCommonField?'checked':''">
                                    <input type="checkbox" ng-model="IsRecordCommonField" class="checkboxes" />
                                </span>
                            </div>
                            <small> Dùng chung cho hồ sơ </small>(<small class="badge badge-info"> <small uib-tooltip="Dùng chung cho hồ sơ">HS</small> </small>)

                            <div class="checker">
                                <span ng-class="IsDocumentCommonField?'checked':''">
                                    <input type="checkbox" ng-model="IsDocumentCommonField" class="checkboxes" />
                                </span>
                            </div>
                            <small> Dùng chung cho văn bản </small>(<small class="badge badge-danger"> <small uib-tooltip="Dùng chung cho văn bản">VB</small> </small>)
                            &nbsp;&nbsp;
                            <div class="pull-right">
                                <strong>Hiển thị :</strong>
                                <div class="checker">
                                    <span ng-class="DisplayCatalog?'checked':''">
                                        <input type="checkbox" ng-model="DisplayCatalog" class="checkboxes" />
                                    </span>
                                </div>
                                <small> Danh sách</small>

                                <!--<div class="checker">
                                    <span ng-class="DisplayReport?'checked':''">
                                        <input type="checkbox" ng-model="DisplayReport" class="checkboxes" />
                                    </span>
                                </div>
                                <small> Danh sách thông tin khai thác</small>-->
                                <!--<div class="checker">
                                    <span ng-class="DisplayReportSearch?'checked':''">
                                        <input type="checkbox" ng-model="DisplayReportSearch" class="checkboxes" />
                                    </span>
                                </div>
                                <small>T.kiếm báo cáo</small>-->

                                <div class="checker">
                                    <span ng-class="DisplayReader?'checked':''">
                                        <input type="checkbox" ng-model="DisplayReader" class="checkboxes" />
                                    </span>
                                </div>
                                <small>Kết quả tra cứu</small>
                                <div class="checker">
                                    <span ng-class="DisplayReaderSearch?'checked':''">
                                        <input type="checkbox" ng-model="DisplayReaderSearch" class="checkboxes" />
                                    </span>
                                </div>
                                <small>Cho phép tra cứu</small>
                            </div>
                        </div>
                        <div class="form-group row form-actions">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="icon-magnifier"></i>&nbsp;Tìm kiếm</button>
                            <button type="reset" class="btn btn-sm default" ng-click="Button.ResetSearch.Click()"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Đặt lại</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- TABLE -->
            <div class="col-md-12">
                <div class="row" id="table-region">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover dataTable table-bordered grid-table">
                            <thead>
                                <tr>
                                    <th class="table-checkbox sorting_disabled">
                                        <div class="checker">
                                            <span ng-class="IsSelectAll?'checked':''">
                                                <input type="checkbox" class="group-checkable" ng-click="SelectAllItem()" ng-model="IsSelectAll">
                                            </span>
                                        </div>
                                    </th>
                                    <td style="width: 24px;">
                                        <a></a><a href="javascript:;">STT</a>
                                    </td>
                                    <th ng-repeat="header in Headers" width="{{header.Width}}" align="{{header.Align}}" ng-class="GetItemHeaderClass(header)" ng-click="ClickToHeader(header)">
                                        <a href="javascript:;">{{header.Value}}</a>
                                    </th>
                                    <th class="table-handler" align="center" rowspan="1" colspan="1" aria-label="" style="width: 100px;">
                                        <a href="javascript:;">Thao tác</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in ListData" ng-class="data.Selecting?'selected':''">
                                    <th rowspan="1" colspan="1" aria-label="" style="width: 24px;">
                                        <div class="checker">
                                            <span ng-class="data.Selecting?'checked':''">
                                                <input type="checkbox" ng-click="SelectItem(data)" ng-model="data.Selecting" class="checkboxes">
                                            </span>
                                        </div>
                                    </th>
                                    <td align="center">
                                        <span>{{::$index + (Pagination.PageNumber-1)*Pagination.PageSize+1}}</span>
                                    </td>
                                    <td>
                                        <div class="margin-bottom-0">
                                            <a href="javascript:void(0)" class="item-title">{{data.Name}} </a> &nbsp;&nbsp;
                                            <small class="badge badge-info" ng-if="data.IsRecordCommonField"> <small uib-tooltip="Dùng chung cho hồ sơ">HS</small> </small> &nbsp;&nbsp;
                                            <small class="badge badge-danger" ng-if="data.IsDocumentCommonField"> <small uib-tooltip="Dùng chung cho văn bản">VB</small> </small>
                                        </div>
                                        <div class="margin-bottom-0">
                                            <span class="text-muted"><strong>Loại hiển thị :</strong> {{data.FormlyContentObj[0].data.key}}</span> &nbsp;&nbsp;                                                    &nbsp;|&nbsp;
                                            <span class="text-muted"><strong>Kiểu dữ liệu :</strong> {{data.FormlyContentObj[0].data.dbtypeName}}</span>
                                        </div>
                                        <!--<div class="margin-bottom-0">
                                            <small class="text-muted">
                                                <strong>Hiển thị :</strong>
                                                <span uib-tooltip=""><i class="fa text-muted" ng-class="data.DisplayCatalog?'fa-check-square-o text-bold':'fa-square-o'"></i> Danh sách</span>&nbsp;&nbsp;
                                                <span uib-tooltip=""><i class="fa text-muted" ng-class="data.DisplayReport?'fa-check-square-o text-bold':'fa-square-o'"></i> Danh sách thông tin khai thác</span>&nbsp;&nbsp;
                                                <span uib-tooltip=""><i class="fa text-muted" ng-class="data.DisplayReportSearch?'fa-check-square-o text-bold':'fa-square-o'"></i> T.kiếm báo cáo</span>&nbsp;&nbsp;
                                                <span uib-tooltip=""><i class="fa text-muted" ng-class="data.DisplayReader?'fa-check-square-o text-bold':'fa-square-o'"></i> Kết quả tra cứu</span>&nbsp;&nbsp;
                                                <span uib-tooltip=""><i class="fa text-muted" ng-class="data.DisplayReaderSearch?'fa-check-square-o text-bold':'fa-square-o'"></i> Cho phép tra cứu</span>&nbsp;&nbsp;
                                            </small>
                                        </div>-->
                                    </td>
                                    <td>
                                        <div class="well-sm zoom-85">
                                            <formly-form fields="data.FormlyContentObj" model="data.Data">
                                            </formly-form>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" uib-tooltip="Cập nhật" class="btn btn-sm btn-circle btn-icon-only btn-primary" ng-click="Button.Update.Click(data)"><i class="fa fa-edit"></i></button>
                                        <button type="button" uib-tooltip="Xóa" class="btn btn-sm btn-circle btn-icon-only  btn-danger" ng-click="Button.Delete.Click(data)"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                                <tr ng-show="ListData.length<=0">
                                    <td colspan="1000" align="center">
                                        <strong>Chưa có dữ liệu!</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- PAGINATION -->
            <div class="col-md-12" ng-show="Pagination.TotalCount>0">
                <div class="dataTables_paginate">
                    <div class="pull-left pagination-panel">
                        {{Pagination.FromRecord}} - {{Pagination.ToRecord}} trong tổng số {{Pagination.TotalCount}}
                    </div>
                    <div class="pull-right pagination-panel">
                        Trang số&nbsp;&nbsp;
                        <button type="button" uib-tooltip="về trang đầu" class="btn btn-sm default prev" ng-disabled="Pagination.PageNumber<=1" ng-click="Button.GoToPage.Click(1)"><i class="fa fa-angle-double-left"></i></button>
                        <button type="button" uib-tooltip="trang trước" class="btn btn-sm default prev" ng-disabled="Pagination.PageNumber<=1" ng-click="Button.GoToPage.Click(Pagination.PageNumber-1)"><i class="fa fa-angle-left"></i></button>
                        <input type="text" ng-model="Pagination.PageNumber" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-keyup="$event.keyCode == 13 && Button.GoToPage.Click(Pagination.PageNumber)" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlenght="5" style="text-align:center; margin: 0 5px;">
                        /{{Pagination.TotalPage}}
                        <button type="button" uib-tooltip="trang tiếp" class="btn btn-sm default next" ng-disabled="Pagination.PageNumber>=Pagination.TotalPage" ng-click="Button.GoToPage.Click(Pagination.PageNumber+1)"><i class="fa fa-angle-right"></i></button>
                        <button type="button" uib-tooltip="tới trang cuối" class="btn btn-sm default next" ng-disabled="Pagination.PageNumber>=Pagination.TotalPage" ng-click="Button.GoToPage.Click(Pagination.TotalPage)"><i class="fa fa-angle-double-right"></i></button>
                        &nbsp;&nbsp;
                    </div>
                    <div class="pull-right pagination-panel">
                        Hiển thị số bản ghi :&nbsp;&nbsp;
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-sm btn-default margin-right-none">{{Pagination.PageSize}}</button>
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-right" role="menu">
                                <li ng-repeat="pagesize in ListPageSize">
                                    <a href="javascript:;" ng-click="Pagination.PageSize=pagesize;Button.GoToPage.Click(1)">
                                        <span ng-bind="pagesize"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-disabled="ListSelected.length<=0" type="button" ng-click="Save()" class="btn btn-sm btn-primary"><i class="fa fa-check"></i>&nbsp;Chọn</button>
        <button type="button" ng-click="Cancel()" class="btn btn-sm btn-warning"><i class="fa fa-ban"></i>&nbsp;Đóng</button>
    </div>
</div>





