﻿<style>
    textarea {
        resize: vertical;
    }
</style>
<form name="cinema_form" ng-submit="Save()">
    <div class="modal-content cmodal">
        <div class="modal-header">
            <a href="javascript:;" ng-click="Button.Close.Click()" class="modal-close" aria-hidden="true"><i class="fa fa-close"></i></a>
            <span class="modal-title">
                <span>{{Form.Title}}</span>
            </span>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaCodeInput">Mã POS<span class="required">(*)</span></label>
                        <input type="text" class="form-control" id="cinemaCodeInput" name="Code" ng-model="POS.Code" required ng-maxlength="16" placeholder="Nhập vào mã POS" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.Code.$dirty && cinema_form.Code.$invalid||cinema_form.$submitted || cinema_form.Code.$error.pattern">
                            <small class="has-error" ng-show="cinema_form.Code.$error.required">
                                Mã điểm bán không được để trống
                            </small>
                            <small class="has-error" ng-show="cinema_form.Code.$error.maxlength">
                                Mã điểm bán không quá 16 ký tự
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaSAPCodeInput">Tên POS<span class="required">(*)</span></label>
                        <input type="text" class="form-control" id="cinemaSAPCodeInput" name="Name" ng-model="POS.Name" ng-maxlength="255" placeholder="Nhập tên điểm bán" ng-disabled="ModalMode == 'detail'" />
                        <div ng-show="cinema_form.Name.$dirty && cinema_form.Name.$invalid || cinema_form.$submitted || cinema_form.Name.$error.pattern">
                            <small class="has-error" ng-show="cinema_form.Name.$error.maxlength">
                                Tên điểm bán hàng không quá 255 ký tự
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaNameInput">Thuộc rạp<span class="required">(*)</span></label>
                        <ui-select ng-model="POS.CinemaSelected" allow-clear="true" close-on-select="true" title="Chọn rạp chiếu" theme="bootstrap" ng-disabled="ModalMode == 'detail'">
                            <ui-select-match placeholder="--Chọn rạp chiếu--">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="item in CinemaList | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="MACAddress">Địa chỉ MAC</label>
                        <input type="text" class="form-control" id="MACAddress" name="MACAddress" ng-model="POS.MACAddress" ng-maxlength="255" placeholder="Nhập tên rạp chiếu" ng-disabled="ModalMode == 'detail'" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaAddressInput">Mô tả</label>
                        <textarea class="form-control" id="cinemaAddressInput" name="Address" ng-model="POS.Address" rows="3"
                                  ng-maxlength="255" placeholder="Nhập địa chỉ" ng-disabled="ModalMode == 'detail'"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cinemaAddressFInput">Quyền POS</label>
                        <div style="padding: 5px">
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="checkboxes" ng-model="POS.isBanHang">
                                <span></span>
                            </label>
                            <span style="padding: 5px; background: #3598dc;">Ghi nhận bán hàng</span>
                        </div>
                        <div style="padding: 5px">
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="checkboxes" ng-model="POS.isTraHang">
                                <span></span>
                            </label>
                            <span style="padding: 5px; background: #3598dc;">Ghi nhận trả hàng</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <br />
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" class="checkboxes ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="POS.Status" ng-disabled="ModalMode == 'detail'">
                            <span></span>
                        </label>
                        <!--<input type="checkbox" name="Status" id="Status" ng-model="POS.Status">-->
                        <span class="label label-xs label-success" ng-if="POS.Status">Hoạt động</span>
                        <span class="label label-xs label-danger" ng-if="!POS.Status">Không hoạt động</span>
                    </div>
                </div>
            </div>
            <!--Hình ảnh-->

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary" ng-if="ModalMode !== 'detail'" ng-disabled="!cinema_form.$valid"><i class="fa fa-save"></i> Lưu</button>
            <button type="button" class="btn btn-sm btn-warning" ng-click="Button.Close.Click()"><i class="fa fa-ban"></i> Đóng</button>
        </div>
    </div>
</form>